* {
    box-sizing: border-box;
    scroll-behavior: smooth;
<<<<<<< HEAD
=======
    color: #000;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

@font-face {
    font-family: "Beckan Regular";
    src: url("./beckan/Beckan-Regular.otf") format("opentype");
    }

@font-face {
    font-family: "Kallimata";
    src: url("./kallimata/KallimataScript.otf") format("opentype");
    }

<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

=======
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
body {
    margin: 0px;
    padding: 0px;
    font-family: "Beckan Regular";
<<<<<<< HEAD
    letter-spacing: 2px;
}

:root {
    --color-1: #0B131C;
    --color-2: #0A2648;
    --color-3: #1E3957;
    --color-4: #607FA5;
    --color-5: #ffffff;
}

=======
    color: #fff;
    letter-spacing: 2px;
}

>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
/* Container
========= */

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
<<<<<<< HEAD
    min-width: 1100px;
    margin: 50px auto;
=======
    margin: auto;
    /* padding: 0 15px;     */
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

/* Intro
===== */

.intro {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: rgb(0, 0, 0) url(./img/grunge-brick-wall-background.jpg) center no-repeat;
    background-size: cover;
    box-shadow: 20px 20px 150px 150px #000 inset;
}

.intro_item {
    display: flex;
    width: 33.3%;
    height: 500px;
<<<<<<< HEAD
    margin: auto;
=======
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

img {
    max-height: 100%;
    margin: auto;
}

<<<<<<< HEAD
.btn {
    text-decoration: none;
    color: var(--color-5);
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    border: 3px solid var(--color-5);
    border-radius: 30px;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    line-height: 35px;
    margin: auto 20px;
    letter-spacing: 3px;
    transition: all 0.6s ease;
    font-weight: 900;
}

.btn:hover {
    background-color: var(--color-5);
    color: var(--color-1);
=======
.intro_btn {
    border: 2px solid rgb(59, 56, 56);
    border-radius: 30px;
    text-transform: uppercase;
    background-color: rgb(178, 194, 7);
    color: #fff;
    letter-spacing: 2px;
    font-family: "Beckan Regular";
    font-size: 20px;
    width: 100%;
    height: 100px;
    line-height: 30px;
    margin: auto 20px;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

/* Random 
=======*/

.random {
    display: flex;
    width: 100vw;
<<<<<<< HEAD
=======
    height: 100vh;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
    background: rgb(0, 0, 0);
    background-size: cover;
}

.selection {
<<<<<<< HEAD
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    margin: auto;
}

.category {
=======
    width: 50%;
    background-color: #fff;
    color: #000;
    align-items: center;
    border-radius: 20px;
    text-align: left;
}

.category {
    margin: auto;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
    line-height: 30px;
    margin: 0 100px;
}

.category form {
<<<<<<< HEAD
    font-family: 'Roboto', sans-serif;
=======
    font-family: 'Antic', sans-serif;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

input {
    margin: 10px;
}

.selection_btn {
    padding: 10px 40px;
    border: 2px solid rgb(59, 56, 56);
    border-radius: 30px;
    text-decoration: none;
    text-transform: uppercase;
<<<<<<< HEAD
    background-color: var(--color-1);
    color: var(--color-5);
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    line-height: 30px;
    margin: 50px auto;
    transition: all 0.6s ease;
}

.selection_btn:hover {
    background-color: #fff;
    color: var(--color-1);
=======
    background-color: rgb(6, 6, 110);
    color: #fff;
    letter-spacing: 2px;
    font-family: "Beckan Regular";
    font-size: 20px;
    width: 320px;
    cursor: pointer;
    line-height: 30px;
    margin: 50px auto;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

.result {
    font-size: 30px;
    display: flex;
    flex-direction: column;
    letter-spacing: 5px;
}

<<<<<<< HEAD
.result h1, p {
    color: var(--color-5);
    text-align: center;
    margin: 5px auto;
}

.result p {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 40px;
=======
.result h1 {
    color: #fff;
    text-align: center;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

#random_style {
    font-family: "Kallimata";
    color: #fff;
    text-transform: uppercase;
    font-weight: 100;
}

.result img {
    width: 150px;
<<<<<<< HEAD
    margin: 60px auto;
}

.new_coctail {
    color: #fff;
    max-width: 500px;
    margin: 0 auto;
    padding-top: 20px;
=======
    margin: auto;
}

.new_coctail {
    color: red;
    max-width: 400px;
    margin: auto;
    height: 150px;
    padding-top: 25px;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
    text-align: center;
}

/* Filter 
=======*/

.filter {
    display: flex;
    width: 100vw;
<<<<<<< HEAD
=======
    height: 100vh;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
    background: rgb(0, 0, 0);
    background-size: cover;
}

.filter_selection {
<<<<<<< HEAD
    background-color: #fff;
    border-radius: 20px;
    margin-right: 40px;
=======
    width: 25%;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 40px;
    /* color: #000; */
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

.filter_selection form {
    font-family: 'Antic';
}

.coctails {
    width: 75%;
    background-color: #fff;
    border-radius: 20px;
}

.coctails h1 {
    text-align: center;
}

.filter_selection_items {
<<<<<<< HEAD
    margin: 20px 60px;
=======
    text-align: left;
    margin: 20px 50px;
    line-height: 30px;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a

}

#result_item {
    display: flex;
    flex-wrap: wrap;
<<<<<<< HEAD
    padding: 0 40px;
    justify-content: center;
=======
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
}

.result_items li {
    display: flex;
<<<<<<< HEAD
    width: 160px;
    height: 50px;
    text-align: center;
    border: #000 solid 1px;
    border-radius: 10px;
=======
    width: 150px;
    height: 40px;
    text-align: center;
    border: #000 solid 1px;
    border-radius: 10px;
    align-content: space-between;
>>>>>>> 3b5595a6512a9af96e353215810f9c67360cca7a
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'Antic';
}
